body{
    width: 1024px;
    margin: 0 auto;
    background-image: linear-gradient(white 60%,rgb(154, 221, 243))
}
.container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: inline-block;
}
.score-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
}
.user-color{
    color: darkturquoise;
}
#result{
    color: gray;
}
.result{
    color: red;
}
.modal{
    width: 500px;
    height: 100px;
    border: 1px solid black;
    background-color: grey;
  margin: 0 auto;
  text-align: center;
  display: none;
}
.block{
    display: block;
}
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    opacity:0;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;}
    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close:hover { background: #00d9ff; }
    .modalDialog > div  {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
  } 
    .a-style{
      text-decoration: none;
      display: flex;
      text-align: center;
      border: 1px solid black;
      padding: 10px;
border-radius: 30%;
      background-color: black;
      color: red;
    
    }